*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
}

body {
    color: #151515;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
}

/* layout */

.container {
    width: 90%;
    max-width: 900px;
    padding-top: 1.5em;
    margin: 0 auto;
}

.hero-section {
    background-image: url("/images/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: end;
}

.hero-text {
    color: #FFF;
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}

/* typography */

.hero-text h1 {
    margin: 0;
    font-size: 1.5rem;
}

.hero-text p {
    margin: 0.5em 0 0.8em;
    font-size: 0.8rem;
}

/* grid */

.posts {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

article {
    margin-bottom: 1em;
}

img {
    width: 100%;
}

.article-info,
.article-preview {
    font-size: 0.9rem;    
}

.article-info {
    text-transform: uppercase;
}

.article-img {
    margin-bottom: 1em;
}

.article-title {
    font-size: 1.2rem;
    margin: 0.5em 0 0.35em 0;
}

.article-preview {
    margin-top: 0;
}

p {
    line-height: 1.3;
}

/* media queries */

@media (min-width: 500px) {
    .article-info,
    .article-preview {
        font-size: 1.1rem;  
    }
    
    .article-title {
        font-size: 1.5rem;
    }
    
    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1.2rem;
    }
}